/* animations */
@keyframes move {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.social-links,
main.inner > * {
  animation: move calc(400ms);
  animation-fill-mode: backwards;
  animation-delay: 650ms;

  &.line-throwght {
    animation-delay: 50ms;
  }
  &.logo-wrapper {
    animation-delay: 250ms;
  }
  &.footer {
    animation-delay: 450ms;
  }
}
